.treeID {
  flex: 1 0 auto;
  margin-left: 10px;
}

.statusIcon {
  flex: 1 0 auto;
  margin-right: 10px;
}

.alignStatus {
  width: 17em;
  min-width: 17em;
  margin-left: auto;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activeHighlight {
  background-color: #e7f1fa;
  border: #e7f1fa solid 1px;
  border-radius: 7px;
  font-weight: bold;
  & > div {
    padding: 15px 0 15px 0;
  }
}
