.treeID {
  flex: 1 0 auto;
  margin-left: 10px;
}

.statusIcon {
  flex: 1 0 auto;
}

.alignStatus {
  width: 15em;
  margin-left: auto;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activeHighlight {
  background-color: #bee1f4;
  border: #bee1f4 solid 1px;
  border-radius: 7px;
  font-weight: bold;
  &div {
    margin: 10px 0 10px 0;
  }
}
