{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", { "modules": false }],
    "@emotion/babel-preset-css-prop"
  ],

  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "emotion"
  ]
}
