   .styledIcon{
      height: 1.3em;
      width: 1.3em;

   } 
   .styledLoaderWrapper{
      display: inline-block;
      margin-right: 0.75rem;

   }

   .styledPlanName{
      display: inline-block;
      font-size: 1.3em;
      font-weight: 900;
   }

   .styledValidationText{
      font-size: 1.3em;
      font-weight: 300;
      display: inline-block;
   }

   .styledBodyText{
      font-size: 1.0em;
      font-weight: 300;
      display: inline-block;
      font-style: italic;
   }

   .styledCard{
        margin: auto;
        width: 50em;
   }

   .centerCard{
      margin-top: 3em;
   }
