.styledIcon {
  height: 1.3em;
  width: 1.3em;
}
.styledLoaderWrapper {
  display: inline-block;
  margin-right: 0.75rem;
}

.styledBodyText {
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  font-style: italic;
}

// override PF styles
.styledCard {
  margin: auto !important;
  width: 50em !important;
}

.centerCard {
  margin-top: 3em !important;
}
