<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>Cluster Application Migration Tool</title>
  <meta id="appName" name="application-name" content="Mig UI" />
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="stylesheet" href="/pf-react-core.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    window._mig_meta = "<%= migMeta %>"
  </script>
</head>

<body>
  <noscript>Enabling JavaScript is required to run this app.</noscript>
  <div id="root"></div>
  <script type="text/javascript" src="/app.bundle.js"></script>
</body>

</html>

