.header-item-container {
  display: flex;
  width: 100%;
  height: 5em;
}
.header-toggle-btn {
  flex: 0 0 2em !important;
  margin: auto 0 1em 0 !important;
}
.header-item-title {
  height: 2em;
  padding: 0.2em;
}
.add-item-btn {
  text-align: left !important;
  flex: 0 0 15em;
}

.header-item {
  flex: 1 !important;
  margin: auto 0 1em 0 !important;
}
