:root {
  --myApp-global--spacer--md: 30px;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--myApp-global--spacer--md);
}

.mig-body-copy {
  font-family: overpass; font-weight: 400;
}

.mig-secondary-text {
  font-family: overpass; font-weight: 300;
}

.notification-container {
  flex: 0 1 auto;
}
