{
  "clusterApi": "https://api.supercluster.example.com:6443",
  "devServerPort": 9000,
  "userScope": "user:full",
  "oauthClientId": "mig-ui-remote-dev",
  "redirectUri": "http://localhost:9000/login/callback",
  "namespace": "mig",
  "configNamespace": "openshift-config",
  "oauthClientSecret": "bWlncmF0aW9ucy5vcGVuc2hpZnQuaW8K"
}
