{
  "clusterApi": "https://api.supercluster.example.com:6443",
  "devServerPort": 9000,
  "userScope": "user:full",
  "oauthClientId": "mig-ui",
  "redirectUri": "http://localhost:9000/login/callback",
  "namespace": "openshift-migration",
  "configNamespace": "openshift-config",
  "oauthClientSecret": "bWlncmF0aW9ucy5vcGVuc2hpZnQuaW8K",
  "hookRunnerImage": "quay.io/konveyor/hook-runner:latest"
}
