---

apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/timeout: 300s
  name: {{ mig_ui_name }}
  namespace: {{ mig_ui_namespace }}
  labels:
    app: {{ mig_ui_name }}
    service: {{ mig_ui_name }}
spec:
  to:
    kind: Service
    name: {{ mig_ui_name }}
  port:
    targetPort: port-9000
  tls:
    termination: edge
