---

apiVersion: oauth.openshift.io/v1
kind: OAuthClient
metadata:
  name: {{ mig_ui_oauth_client_id }}
  namespace: {{ mig_ui_namespace }}
grantMethod: auto
redirectURIs: ["{{ mig_ui_oauth_redirect_url }}"]
secret: {{ mig_ui_oauth_secret }}
