     $black: #000e1a;
     $white: #fff;
     $blue: #007ce0;
     $navy: #004175;
     $statusGreen: #92d400;
     $statusRed: #D8000C;
     $darkGray1: #333;
     $medGray3: #787878;
     $medGray2: #888888;
     $medGray1: #A0A0A0;
     $lightGray3: #e8e8e8;
     $lightGray2: #f5f5f5;
     $lightGray1: #f8f8f8;

