.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-override {
  background-color: #4d5057 !important;
}
.header-override .pf-c-page__header-brand {
  background-color: #4d5057 !important;
}
.detail-view-container {
  justify-content: center;
  display: flex;
}
.empty-state-container {
  flex: 0 1 auto;
  align-self: center;
}
