.pf-c-icon {
  // Base
  --pf-c-icon--FontSize: var(--pf-global--FontSize--md);
  --pf-c-icon--Color: #72767b;

  // Size
  --pf-c-icon--m-sm--FontSize: var(--pf-global--icon--FontSize--sm);
  --pf-c-icon--m-md--FontSize: var(--pf-global--icon--FontSize--md);
  --pf-c-icon--m-lg--FontSize: var(--pf-global--icon--FontSize--lg);
  --pf-c-icon--m-xl--FontSize: var(--pf-global--icon--FontSize--xl);
  --pf-c-icon--m-2xl--FontSize: var(--pf-global--icon--FontSize--2xl);

  // Type
  --pf-c-icon--m-info--Color: var(--pf-global--primary-color--100); // #06c
  --pf-c-icon--m-success--Color: var(--pf-global--success-color--100); // #92d400
  --pf-c-icon--m-warning--Color: var(--pf-global--warning-color--100); // #f0ab00
  --pf-c-icon--m-danger--Color: var(--pf-global--danger-color--100); // #c9190b

  font-size: var(--pf-c-icon--FontSize);
  color: var(--pf-c-icon--Color);

  &.pf-m-sm {
    font-size: var(--pf-c-icon--m-sm--FontSize);
  }

  &.pf-m-lg {
    font-size: var(--pf-c-icon--m-lg--FontSize);
  }

  &.pf-m-xl {
    font-size: var(--pf-c-icon--m-xl--FontSize);
  }

  &.pf-m-info {
    color: var(--pf-c-icon--m-info--Color);
  }

  &.pf-m-success {
    color: var(--pf-c-icon--m-success--Color);
  }

  &.pf-m-warning {
    color: var(--pf-c-icon--m-warning--Color);
  }

  &.pf-m-danger {
    color: var(--pf-c-icon--m-danger--Color);
  }
}
