.logoPointer {
  cursor: default !important;
}

.redhatLogoStyle {
  height: 30px;
  vertical-align: middle;
}

.craneLogoStyle {
  height: 6em;
  margin: 0.5em 0 0.5em 0;
  vertical-align: middle;
}

.sidebarModifier {
  height: 100vh;
}
