@import '@patternfly/patternfly/sass-utilities/_all.scss';
@import '@patternfly/patternfly/utilities/Sizing/sizing.scss';
@import '@patternfly/patternfly/utilities/Spacing/spacing.scss';
@import './widget-description-list';
@import './icon';

html,
body,
#root {
  height: 100%;
  overflow-y: hidden;
}

.storage-modal-modifier {
  min-height: 24em;
}

.always-scroll .pf-c-modal-box__body {
  overflow-y: scroll;
}

.modal-in-modal-container .pf-c-backdrop {
  z-index: 600;
}

.pf-c-tree-view__node-text {
  width: 100% !important;
}

.pf-c-page {
  height: 102%;
}
